# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log

# node_modules
node_modules/

# Персонализированные папки сборки
.next/
out/

# .env файлы
.env
.env.local
.env.development
.env.test
.env.production

# Папки с кэшами
.cache/
.npm/
.yarn/

# IDE и редакторы
.idea/
.vscode/
*.sublime-workspace

# Пакеты и библиотеки
package-lock.json
yarn.lock

# Для TypeScript
*.tsbuildinfo

# Статические файлы
public/static/
