.cards{
  padding: 0px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards .card{
  margin: 20px 0px 0px 20px;
}